body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(S24\ Ultra\ img.jpg);
}
@keyframes fadeInUpTitle{
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes fadeInLeftTimer {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes fadeInRightDesc {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    100% {
        transform: translateX(-0%);
        opacity: 1;
    }
}
.title-name{
    text-align: center;
    color: rgb(191,190,185);
    font-size: 4rem;    
    animation: 1.5s fadeInUpTitle;
    font-family: 'SamsungOne', sans-serif;
    font-family: 'Samsung Sharp Sans', sans-serif;

}
.giveaway-type{
    text-align: center;
    font-size: .8rem;
    color: rgb(191,190,185);
    animation: 1.5s fadeInUpTitle;
    font-family: 'SamsungOne', sans-serif;
    font-family: 'Samsung Sharp Sans', sans-serif;

}
.description{
    width: 17rem;
    font-size: .65rem;
    
    text-align: left; 
    font-family: 'SamsungOne', sans-serif;
    font-family: 'Samsung Sharp Sans', sans-serif;
    display: inline-block;
    color: rgb(100,95,102);
    padding: 7rem 0 0 .5rem;
    animation: 1.5s fadeInRightDesc;
}
.TnC{
    font-family: 'SamsungOne', sans-serif;
    font-family: 'Samsung Sharp Sans', sans-serif;
    font-size: .7rem;
    color: grey;
    text-align: left;
    width: 20rem;
    animation: 1.5s fadeInRightDesc;
    padding: 3rem 0 0 .5rem;
}
.c-timer{
    padding: 4rem 2rem 0 0;
    font-size: 3.5rem;
    text-align: right;
    float: right;
    font-family: 'SamsungOne', sans-serif;
    font-family: 'Samsung Sharp Sans', sans-serif;
    color: rgb(100,95,102);
    width: 17rem;
    animation: 1.5s fadeInLeftTimer;
}

